* {
  box-sizing: border-box;
}

.card-row {
  display: flex;
}

.card-outline {
  position: relative;
  margin-right: 20px;
  width: 152px;
  height: 236px;
  border: 1px solid #ccc;
}

.card {
  width: 150px;
  position: absolute;
}

body {
	background-color: green;
}